.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

mat-card {
  width: 400px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.loading, .error, .no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loading span, .error span, .no-results span {
  margin-left: 10px;
}

mat-icon {
  vertical-align: middle;
}
